---
layout: default
title: Lena Herrmann
---

{% for post in paginator.posts %}
<div class="atomentry">
  <div class="titlebar">
    <h2 class="title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
  </div>

  <div class="author">
    Posted by <cite>Lena Herrmann</cite> <abbr>on {{ post.date | date_to_string }}</span></abbr>
  </div>
  
  <div class="content">
    {{ post.excerpt }}
  </div>
  
  <div class="tags">
    Tags:
    {% for category in post.categories %}
      <a href="/tag/{{ category }}">{{ category }}</a>
    {% endfor %}
  </div>
  
  <p class="info"> 
		<script>
      var idcomments_acct = 'dbf52aa91e471a96b0cf2b3b8d1dbfc4';
      var idcomments_post_id;
      var idcomments_post_url;
    </script>
    <script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>	
	</p>

</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">« Newer posts</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}">« Newer posts</a>    
    {% endif %}
  {% endif %}
  | {{ paginator.page }} | 
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}">Older Posts »</a>
  {% endif %}
</div>

