---
layout: default
title: Lena Herrmann
---

{% for post in paginator.posts %}
<div class="atomentry">
  <div class="titlebar">
    <h2 class="title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
  </div>

  <div class="author">
    Posted by <cite>Lena Herrmann</cite> <abbr>on {{ post.date | date_to_string }}</span></abbr>
  </div>
  
  <div class="content">
    {{ post.excerpt }}
  </div>
  
  <div class="tags">
    Tags:
    {% for category in post.categories %}
      <a href="/tag/{{ category }}">{{ category }}</a>
    {% endfor %}
  </div>
  
  <p class="info"> 
		<script>
      var idcomments_acct = 'dbf52aa91e471a96b0cf2b3b8d1dbfc4';
      var idcomments_post_id = {{ post.url }};
      var idcomments_post_url = {{ post.url }};
      
      if(null==idcomments_post_id)
	      idcomments_post_id = idcomments_post_url;
      if(null==idcomments_post_url)
	      idcomments_post_url = window.location.href;
      if(null==idcomments_post_id)
	      idcomments_post_id = window.location.href;
	
      if(idcomments_post_id.indexOf('#')>0)
	      idcomments_post_id = idcomments_post_id.substr(0, idcomments_post_id.indexOf('#'));

console.log(idcomments_post_id, idcomments_post_url)

if(document.getElementById("IDCommentsPostTitle"+idcomments_post_id))
	idcomments_post_title = document.getElementById("IDCommentsPostTitle"+idcomments_post_id).innerHTML;
else
	idcomments_post_title = "";

var commentScript = document.createElement("script");
commentScript.type = "text/javascript";
commentScript.src = "http://www.intensedebate.com/js/getCommentLink.php?acct="+idcomments_acct+"&postid="+id_clean_url(idcomments_post_id)+"&posturl="+id_clean_url(idcomments_post_url)+"&posttitle="+idcomments_post_title;
var scripts = document.getElementsByTagName("script");

var found=false;
for(var i=0; i<scripts.length; i++) {
	if(scripts[i].src.indexOf("genericLinkWrapperV2.js")>=0)
	{
		parentObj = scripts[i].parentNode; 
		theObj = scripts[i];
		
		if(theObj.previousSibling && theObj.previousSibling.src && theObj.previousSibling.src.indexOf('getCommentLink.php?acct')>0)
			continue;
			
		found=true;
		break;
	}
}
if(found)
	parentObj.insertBefore(commentScript, theObj);

function id_clean_url ( url ) {
	return url.replace( /&/g, '%26' ).replace( /\?/g, '%3F' );
}







    </script>
	</p>

</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">« Newer posts</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}">« Newer posts</a>    
    {% endif %}
  {% endif %}
  | {{ paginator.page }} | 
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}">Older Posts »</a>
  {% endif %}
</div>

