<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>{{ page.title }} — validates_presence_of :purpose </title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/syntax.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
  
<div id="header">
  {% include header.html %}
</div>

<div id="main">
  <div id="sidebar">
    <div id="sidebar-box">
      <h3>Hi!</h3>
      <div class='body'>
        <p>I'm Lena Herrmann and this is my blog. I'm a Ruby developer living in Berlin, Germany. Currently I'm writing my diploma thesis in computer sciences. You should <a href="http://twitter.com/kilaulena">follow me on twitter</a>. Or <a href="/about.html">read more about me here</a>.
        </p>
      </div>
    </div>
    <div id="tagcloud">
      {% include tags.html %}
    </div>
  </div>

  <div id="content">
    {{ content }}
  </div>
</div>

</body>
</html>
