---
layout: default
---

<div class="atomentry">
  <div class="titlebar">
    <h2 class="title">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h2>
  </div>

  <div class="author">
    Posted by <cite>Lena Herrmann</cite> <abbr>on {{ page.date | date_to_string }}</span></abbr>
  </div>
  
  <div class="content">
    {{ content }}
  </div>
  
  <div class="tags">
    Tags:
    {% for category in page.categories %}
      <a href="/tag/{{ category }}">{{ category }}</a>
    {% endfor %}
  </div>
<!-- {% if page.comments_disabled != true %}
  <div id="comments">
    <a href="{{ page.url }}#disqus_thread">View Comments</a>
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://disqus.com/forums/paper-planes/embed.js"></script>
  </div>
  <br/>
{% endif %} -->
</div>