---
layout: default
---

<div class="atomentry">
  <div class="titlebar">
    <h2 class="title">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h2>
  </div>

  <div class="author">
    Posted by <cite>Lena Herrmann</cite> <abbr>on {{ page.date | date_to_string }}</span></abbr>
  </div>
  
  <div class="content">
    {{ content }}
  </div>
  
  <div class="tags">
    Tags:
    {% for category in page.categories %}
      <a href="/tag/{{ category }}">{{ category }}</a>
    {% endfor %}
  </div>
  
  <div class="comments">
    <script>
      var idcomments_acct = 'dbf52aa91e471a96b0cf2b3b8d1dbfc4';
      var idcomments_post_id = 'http://lenalena.github.com{{ page.url }}';
      var idcomments_post_url = 'http://lenalena.github.com{{ page.url }}';
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
  </div>
  <br/>
</div>
