---
layout: default
---

<div class="atomentry">
  <div class="titlebar">
    <h2 class="title">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h2>
  </div>

  <div class="author">
    Posted by <cite>Lena Herrmann</cite> <abbr>on {{ page.date | date_to_string }}</span></abbr>
  </div>
  
  <div class="content">
    {{ content }}
  </div>
  
  <div class="tags">
    Tags:
    {% for category in page.categories %}
      <a href="/tag/{{ category }}">{{ category }}</a>
    {% endfor %}
  </div>
  <div class="comments">
    <a href="{{ page.url }}#disqus_thread">View Comments</a>
    <div id="disqus_thread"></div>
  </div>
  <br/>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://vpp.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

</div>